<%#This is horrible and I hate myself... Need to make better eventually... %>
<div class="alpha btn-toolbar pagination-centered" style="margin-top: 65px">
<div class="alpha btn-group">
      
      <%= link_to "A", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[a TO b]"), :class=> "btn" %>
      <%= link_to "B", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[b TO c]"), :class=> "btn" %>
      <%= link_to "C", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[c TO d]"), :class=> "btn" %>
      <%= link_to "D", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[d TO e]"), :class=> "btn" %>
      <%= link_to "E", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[e TO f]"), :class=> "btn" %>
      <%= link_to "F", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[f TO g]"), :class=> "btn" %>
      <%= link_to "G", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[g TO h]"), :class=> "btn" %>
      <%= link_to "H", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[h TO i]"), :class=> "btn" %>
      <%= link_to "I", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[i TO j]"), :class=> "btn" %>
      <%= link_to "J", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[j TO k]"), :class=> "btn" %>
      <%= link_to "K", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[k TO l]"), :class=> "btn" %>
      <%= link_to "L", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[l TO m]"), :class=> "btn" %>
      <%= link_to "M", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[m TO n]"), :class=> "btn" %>
      <%= link_to "N", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[n TO o]"), :class=> "btn" %>
</div>
<div class="alpha btn-group">      
      <%= link_to "O", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[o TO p]"), :class=> "btn" %>
      <%= link_to "P", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[p TO q]"), :class=> "btn" %>
      <%= link_to "Q", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[q TO r]"), :class=> "btn" %>
      <%= link_to "R", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[r TO s]"), :class=> "btn" %>
      <%= link_to "S", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[s TO t]"), :class=> "btn" %>
      <%= link_to "T", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[t TO u]"), :class=> "btn" %>
      <%= link_to "U", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[u TO v]"), :class=> "btn" %>
      <%= link_to "V", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[v TO w]"), :class=> "btn" %>
      <%= link_to "W", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[w TO x]"), :class=> "btn" %>
      <%= link_to "X", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[x TO y]"), :class=> "btn" %>
      <%= link_to "Y", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[y TO z]"), :class=> "btn" %>
      <%= link_to "Z", params.merge(:id => 'auth_facet', :action => "facet", :q => "auth_no_token:[z TO *]"), :class=> "btn" %>
    </div>
</div>