<%# default partial to generate and display the list of editions and translations-%>

<%# I've utilized the facet code here to make easy collapsable lists. Might want to override the css to give it different styling, make a special class for it-%>
<% unless eds.empty? %>
  <div id="facets" class="facets sidenav">
    <h4 data-toggle="collapse" data-target=".facets-collapse"><%= "#{type}s of this Work, Click to Expand" %></h4>
    <% grp = group_multi(eds)%>
    <% grp.each do |key, values| %>
      <% e_id = key[0] %>
      <div class="facets-collapse">
        <%# This little bit of insanity is to accommodate any rtl text in the host title, esp for Arabic records %>
        <h5><%= "#{values[0].title}," %> <bdi><%= "#{values[0].host_title}" %></bdi></h5>
        <ul>
          <% values.each do |ed| %>
            <% num = ed.cts_label.split(";")[1] %>
            <% if num %>
              <h5><%= "Number: #{num}" %></h5>
            <% end %> 
            <dt><%= "URN:" %></dt>
            <dd><%= e_id %></dd>
            <% unless type == "Uncataloged Version" %>
              <% if ed.editor_id %>
                <dt><%= "Editor:" %></dt>
                <dd><%= EditorsOrTranslator.find(ed.editor_id).name %></dd>
              <% end %>
              <% if ed.translator_id %>
                <dt><%= "Translator:" %></dt>
                <dd><%= EditorsOrTranslator.find(ed.translator_id).name %></dd>
              <% end %>
              <% field_list = ["publisher", "date_publ", "language"] %>
              <%= render :partial => "mysql_render", :locals => {:field_list => field_list, :doc => ed} %>
              <%= link_to "Click here for #{type} record", :id => ed.cts_urn %>
            <% else %>
              <dt><%= "Info:" %></dt>
              <dd><%= ed.ed_trans.html_safe %></dd>
            <% end %>
          <% end %>       
        </ul>
        
      </div>
      
    <% end %>
  </div>
<% end %>
