<%# default partial to display mysql document info in catalog show view for authors-%>
  <% d_id = @document.values_at("uid")[0]%>
  <% doc = Author.get_info(d_id) %>
  <% field_list = ["alt_id", "name", "alt_parts", "dates", "alt_names", "field_of_activity", "notes"] %>
  <%# Need to pull author and expression info as well want to create collapsible list of expressions with links to their proper pages/full display of info, perhaps I should go back and populate the expression partial first... -%>
<dl class="dl-horizontal  dl-invert">

  <%# show fields-%>
  <dt><%= "ID:" %></dt>
  <dd><%= d_id %></dd>
  <%= render_document_partial @document, :show %>

  <%# mysql fields-%>
  <%= render :partial => "mysql_render", :locals => {:field_list => field_list, :doc => doc} %>

  <%# host urls-%>         
  <dt><%= "Author info:" %></dt>
  <%= render :partial => "url_render", :locals => {:value => doc.fetch("urls")} %>

  <%# list works-%> 
  &nbsp
  <h4> <%="Works by #{doc.fetch("name")}"%></h4>
  <HR SIZE="3" NOSHADE>
  <%= render :partial => "work_list", :locals => {:doc => doc} %>

</dl>

  <h3><%= "A Pretty Visualization Will Go Down Here" %></h3>
