<%# default partial to display mysql document info in catalog show view for expressions-%>
  
  <% d_id = @document.values_at("uid")[0]%>
  <% doc = Expression.get_info(d_id) %>
  <% work, auths, tgs = find_related(doc) %>
     


  <% field_list = ["host_title","publisher", "place_publ", "date_publ", "edition", "date_mod", "phys_descr", "pages", "word_count", "table_of_cont", "notes", "subjects"] %>

  <div class="panel panel-default">
    <div class="panel-body">
      <dl class="dl-horizontal  dl-invert">
        <% test_rows = get_urls("test", doc.id) %>
        <% unless test_rows.empty? %>
          <h4>Get to the Text</h4>
          <%# item urls-%>      
          <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "expression"} %>
          <%# host urls-%>         
          <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "host"} %>
        <% else %>
          <h4>No Online Texts Found</h4>
          <p>We're sorry, we don't yet have a link to this text. We are constantly adding new texts to the catalog, please check back later. <br/>
          If you know of a digital, open source version of this text, please contact us and we will see if it is possible to include it here.</p>
        <% end %>
      </dl>
    </div>
  </div>
  <div>
    <dl class="dl-horizontal  dl-invert">
      <h4>Full Catalog Record</h4>
      <dt><%= "URN:" %></dt>
      <dd><%= d_id %></dd>
      <dt><%= "Work:" %></dt>
      <dd><%= link_to work.title, :id => work.standard_id %></dd>
      <% tgs.each do |tg| %>
        <dt><%= "Textgroup:"%>
        <dd><%= link_to tg.urn_end, :id => tg.urn %></dd>
      <% end %>
      <% auths.each do |auth| %>
        <dt><%= "Author:" %></dt>
        <dd><%= link_to auth.name, :id => auth.unique_id%></dd>
      <% end %>
      <%# show fields-%>
      <%= render_document_partial @document, :show %>

      <%# mysql fields-%>
      <%= render :partial => "mysql_render", :locals => {:field_list => field_list, :doc => doc} %>
     <%# item catalog urls-%>     
      <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "expression_info"} %>
      <%# host catalog urls-%>         
      <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "host_info"} %>

      
      
    </dl>
  </div>

