<%# default partial to display mysql document info in catalog show view for works-%>

  <% d_id = @document.values_at("work_urn")[0]%>
  <% doc = Work.get_info(d_id) %>
  <% exprs, auths, tgs, non_cat = find_related(doc) %>
  <% eds = exprs.select{|e| e.var_type == "edition"} %>
  <% trans = exprs.select{|e| e.var_type == "translation"} %>
  
  <div class="panel panel-default">
    <div class="panel-body">
      <% unless eds.empty? %>
        <% ed, ed_url = select_expression_url(eds) %>
        <% if ed_url %>
          <% e_pg = get_pages(ed) %>
          <h4>Quick-Find an Edition</h4>
          <% if e_pg %> 
            <% text = "In #{ed_url.display_label} go to page #{e_pg} to: " %>
          <% else %>
            <% text = "Go to #{ed_url.display_label}: " %>
          <% end %>
            <p><%= text %> <%= link_to(ed.cts_label, ed_url.url, :target => "_blank" ) %></p>
          
          <p><%= "1 of #{group_multi(eds).keys.length.to_s} editions. To select a specific edition, see below."%></p>
        <% end %>
      <% end %>
      
      <% unless trans.empty? %>
        <% trs, trans_url = select_expression_url(trans) %>
        <% if trans_url %>
          <% t_pg = get_pages(trs) %>
          <h4>Quick-Find a Translation</h4>    
          <% if t_pg %>
            <% text = "In #{trans_url.display_label} go to page #{t_pg} to: " %>
          <% else %>
            <% text = "Go to #{trans_url.display_label}: " %>
          <% end %>   
          <p><%= text %> <%=link_to(trs.cts_label, trans_url.url, :target => "_blank") %></p>
          
          <p><%= "1 of #{group_multi(trans).keys.length.to_s} translations. To select a specific translation, see below."%></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <dl class="dl-horizontal  dl-invert">
    <h4>Work Information</h4>
    <%# fields-%>
    <dt><%= "URN:" %></dt>
    <dd><%= d_id %></dd>
    <dt><%= "Work title:" %></dt>
    <dd><%= @document.values_at("work_title")[0] %></dd>
    <%= render :partial => "mysql_render", :locals => {:field_list => ["abbr_title"], :doc => doc} %>
    <dt><%= "Textgroup:" %></dt>
    <% tgs.each do |tg| %>
      <dd><%= link_to tg.urn_end, :id => tg.urn %></dd>
    <% end %>
    <dt><%= "Author:" %></dt>
    <% auths.each do |auth| %>
      <dd><%= link_to auth.name, :id => auth.unique_id%></dd>
    <% end %>

</dl>

<div>
  &nbsp

  <%= render :partial => 'ed_list', :locals => {:eds => eds, :type => 'Edition'} %>

  <%= render :partial => 'ed_list', :locals => {:eds => trans, :type => 'Translation'} %>

  <%= render :partial => 'ed_list', :locals => {:eds => non_cat, :type => 'Uncataloged Version'} %>


</div>
