<%# default partial to display mysql document info in catalog show view for authors-%>
  <% d_id = @document.values_at("uid")[0]%>
  <% doc = Author.get_info(d_id) %>
  <% works, tgs = find_related(doc) %>
  <% field_list = ["phi_id", "tlg_id", "stoa_id", "alt_id", "name", "alt_names", "field_of_activity", "notes"] %> <%#, "abbr" removed -%>

<dl class="dl-horizontal  dl-invert">

  <%# show fields-%>
  <dt><%= "Textgroups:" %></dt>
  <% tgs.each do |tg| %>
    <dd><%= link_to tg.urn_end, :id => tg.urn %></dd>
  <% end %>
  <%= render_document_partial @document, :show %>

  <%# mysql fields-%>
  <%= render :partial => "mysql_render", :locals => {:field_list => field_list, :doc => doc} %>

  <%# host urls-%>         
  
  <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "author"} %>

  <%# list works-%> 
<div>
  &nbsp

  <%= render :partial => "work_list", :locals => {:doc => doc, :works => works} %>

</div>

