<%# default partial to display mysql document info in catalog show view for expressions-%>
  
  <% d_id = @document.values_at("uid")[0]%>
  <% res = Expression.get_info(d_id) %>
  <%# due to multivolume editions, need to account for multiple rows in the expressions table -%>
  <% work, auths, tgs = find_related(res[0]) %>
     


  <% field_list = ["alt_title","abbr_title","host_title","publisher", "place_publ", "date_publ", "edition", "date_mod", "phys_descr", "pages", "word_count", "table_of_cont", "notes", "subjects"] %>

  <div class="panel panel-default">
    <div class="panel-body">
      <dl class="dl-horizontal  dl-invert">
        <% res.each do |doc|%>
          <% test_rows = get_urls("test", doc.id) %>
          <% unless test_rows.empty? %>
            <% num = doc.cts_label.split(";")[1] %>
            <% if num %>
              <h4><%= "#{num}:" %></h4>
            <% end %>
            <h4>Get to the Text</h4>
            <%# item urls-%>      
            <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "expression"} %>
            <%# host urls-%>         
            <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "host"} %>
          <% else %>
            <h4>No Online Texts Found</h4>
            <p>We're sorry, we don't yet have a link to this text. We are constantly adding new texts to the catalog, please check back later. <br/>
            If you know of a digital, open source version of this text, please contact us and we will see if it is possible to include it here.</p>
          <% end %>
        <% end %>
      </dl>
    </div>
  </div>
  <div>
    <dl class="dl-horizontal  dl-invert">
      <% res.each do |doc|%>
        <% num = doc.cts_label.split(";")[1] %>
        <% if num %>
          <h4><%= "#{num}:" %></h4>
        <% end %>
        <h4>Full Catalog Record</h4>
        <dt><%= "URN:" %></dt>
        <dd><%= d_id %></dd>
        <dt><%= "Work:" %></dt>
        <dd><%= link_to work.title, :id => work.standard_id %></dd>
        <% tgs.each do |tg| %>
          <dt><%= "Textgroup:"%>
          <dd><%= link_to tg.urn_end, :id => tg.urn %></dd>
        <% end %>
        <% auths.each do |auth| %>
          <dt><%= "Author:" %></dt>
          <dd><%= link_to auth.name, :id => auth.unique_id%></dd>
        <% end %>
        <%# show fields-%>
        <%= render_document_partial @document, :show %>

        <%# mysql fields-%>
        <%= render :partial => "mysql_render", :locals => {:field_list => field_list, :doc => doc} %>
       <%# item catalog urls-%>     
        <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "expression_info"} %>
        <%# host catalog urls-%>         
        <%= render :partial => "url_render", :locals => {:id => doc.id, :type => "host_info"} %>
      <% end %>    
    </dl>
  </div>

