<%# default partial to display mysql document info in catalog show view for works-%>
<dl class="dl-horizontal  dl-invert">
  <% d_id = @document.values_at("work_stand_id")[0]%>
  <% doc = Work.get_info(d_id) %>
  <% exprs, auth = find_related(doc) %>

  <dl class="dl-horizontal  dl-invert">

  <%# fields-%>
  <dt><%= "ID:" %></dt>
  <dd><%= d_id %></dd>
  <dt><%= "Work title:" %></dt>
  <dd><%= @document.values_at("work_title")[0] %></dd>

  <%# This is not very pretty... There is probably a better way-%>
  <dt><%= "Author:" %></dt>
  <dd><%= link_to @document.values_at("work_auth_name")[0], auth.attributes["mads_id"], :path => 'solr_document'%></dd>
  

</dl>

<div>
  &nbsp

<%# I've utilized the facet code here to make easy collapsable lists. Might want to override the css to give it different styling, make a special class for it-%>

  <div id="facets" class="facets sidenav">
    <h4 data-toggle="collapse" data-target=".facets-collapse"><%= "Expressions for this Work, Click to Expand" %></h4>

    <% exprs.each do |expr| %>
      <% expr_hash = expr.attributes %>
      <% e_id = expr_hash["cts_urn"] %>
      <% c_e_id = expr_hash["clean_cts_urn"] %>

      <div class="facets-collapse">
        <h5><%= "Expression ID:" %>
        <%= link_to e_id, c_e_id, :path => 'solr_document' %></h5>
        <%= render :partial => 'show_exp', :locals => {:doc => expr_hash} %>
      </div>

    <% end %>
  </div>
</div>