<%# partial to display nicely formatted list of works for author pages-%>  
<div class="row">  
  <div class="span4">
    <% works = find_related(doc) %>
    <div id="facets" class="facets sidenav">
    <h4 data-toggle="collapse" data-target=".facets-collapse"><%= "Works Currently Cataloged" %></h4>
    <% works.each do |work| %>
      <% work_hash = work.attributes %>
      <% w_id = work_hash["standard_id"] %>

      <div class="facets-collapse">
        <h5><%= "Work ID:  #{w_id}" %></h5>
        <ul>
          <%# getting rid of the dt dd lists here because of the two column set up, the formatting looks bad-%>
          <table cellpadding="10">
            <tr>
              <td colspan="2"><%= link_to "Click here to go to Work", :id => w_id %></td>
            </tr>
            <tr> 
              <td class="muted"><%= "Title:"%></td>
              <td><%= work_hash["title"] %></td>
            </tr>
            <tr>
              <td class="muted" align='right'><%= "Word Count:"%></td> 
              <td><%=work_hash["word_count"] %></td>
            </tr>
          </table>
          <li></li>
        </ul>
      </div>
    <% end %>
    </div>
  </div>

<div class="row">  
  <div class="span4 offset1">
    <% err_works = find_missing_works(doc) %>
    <% unless err_works.empty? %>
    <div id="facets" class="facets sidenav">
    <h4 data-toggle="collapse" data-target=".facets-collapse"><%="Works Not Yet Cataloged"%></h4>
      <% err_works.each do |e_work| %>       
        <% e_work_hash = e_work.attributes %>
        <% w_id = e_work_hash["standard_id"] %>
        <div class="facets-collapse">
          <h5><%= "Work ID:  #{w_id}" %></h5>
          <ul>
            <table cellpadding="10">
              <tr> 
              <td class="muted"><%= "Title:"%></td>
              <td><%= e_work_hash["title"] %></td>
              </tr>
            </table>
          </ul>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
