<%# partial to display nicely formatted list of works for author pages-%>  
<div class="row"> <!-- I have no idea why it wants this, but if it isn't there then the formatting gets messed up...-->
  <div id="facets" class="facets sidenav">
    <h4 data-toggle="collapse" data-target=".facets-collapse"><%= "Works Currently Cataloged" %></h4>
    <% works.each do |work| %>
      <% work_hash = work.attributes %>
      <% w_id = work.standard_id %>

      <div class="facets-collapse">
        <h5><%="#{work.title}"%></h5>
        <ul>
          <dt><%= "URN:"%></dt>
          <dd><%= w_id %></dd>
          <dt><%= "Word Count:"%></dt>
          <dd><%= work.word_count %></dd>
          <%= link_to "Click here for Work record", :id => w_id %>
        </ul>
      </div>
    <% end %>
    </div>
  </div>


