<div class="row">

  <div id="content" class="span8 show-document">

    <%= render 'previous_next_doc' %>

     
  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name) %>
  <% extra_head_content << render_link_rel_alternates %>
  <% sidebar_items << render_document_sidebar_partial %>


  <%# this should be in a partial -%>
  <div id="document" class="<%= render_document_class %>">
  	
    <div id="doc_<%= @document.id.to_s.parameterize %>">
   	  <% if @document.id =~ /^urn:cts:/ %>
	    <%= render_canonical_link.html_safe %>
	  <% end %>
	  
      <% # bookmark/folder functions -%>
      <%= render_document_heading(:h3).html_safe %>
      
      <div class="document">
        <% if @document.has?("exp_language") %>
          <%= render 'show_exp'%>
        <% elsif @document.has?("work_urn") %>
          <%= render 'show_work' %>
        <% elsif @document.has?("tg_urn") %>
          <%= render 'show_tg' %>
        <% else @document.has?("phi_id")%>
          <%= render 'show_auth' %>
        <% end %>

        
      </div>
     
    </div>
  </div>



    <% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
      <!-- 
           // COinS, for Zotero among others. 
           // This document_partial_name(@document) business is not quite right,
           // but has been there for a while. 
      -->
      <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
    <% end %>

  </div>

  <div id="sidebar" class="span4">
  	 <!-- 
  	 	  //commenting this out until Email and SMS are reenabled see Mantis item 1208
          //render_document_sidebar_partial  
     -->
     <%if @document.export_formats.size > 0 %> 
     <div id="sidebar-links" class="well">
  	  <%= render_html_link_rel_alternates %>
  	</div>
  	<%end%>
  </div><!--/span -->
  
  
  
</div>
